.idea
.vscode
target
dist
build
node_modules
*.iml
coverage
nohup.out
.vscode/*
yarn.lock
*.tsbuildinfo
.DS_Store
target
**/web_modules/*
# Frontend
apssubmitterprototype-frontend/node_modules/
apssubmitterprototype-frontend/dist/

# Backend
apssubmitterprototype-backend/target/
apssubmitterprototype-backend/.bsp/

# General
.DS_Store
*.class
*.tasty
